@font-face {
  font-family: "Arvo";
  src: local("Arvo"),
    url("../fonts/Arvo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

:root {
  --font-base: "Ubuntu", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: linear-gradient(90deg, rgba(240, 11, 80, 1) 0%, rgba(115, 0, 98, 1) 100%);
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --invert-gradient: linear-gradient(90deg, rgba(115, 0, 98, 1) 0%, rgba(240, 11, 80, 1) 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}