.fab-container {
    width: 100px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    flex-direction: column-reverse;
    right: 1.5rem;
    bottom: 1.5rem;

    .fab-button {
        border-radius: 20px;
        box-shadow: 0 3px 6px lightgrey;
        display: flex;
        align-items: center;
        margin: 8px 0;
        padding: 8px;
        cursor: pointer;
        position: relative;
        display: flex;
        color: var(--white-color);
        background: var(--secondary-color);

        svg {
            fill: white;
            margin-right: 8px;
        }
    }

    .fab-actions {
        display: none;
        list-style: none;
        .fab-actions-item {
            border-radius: 20px;
            box-shadow: 0 3px 6px lightgrey;
            align-items: center;
            margin: 8px 0;
            padding: 8px;
            cursor: pointer;
            position: relative;

            a {
                display: inline-flex;
                align-items: center;
                color: var(--white-color);
                text-decoration: none;
    
                .fab-label {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--gray-color);
                    border-radius: 4px;
                    margin: 0 8px;
                }
    
                .fab-icon {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

    }
    // on hover of fab-button change fab-action class display to flex
    &:hover {
        .fab-actions {
            display: block
        }
    }
}
